@media screen and (min-width: 375px){
  body{
    background-image: url(../images/bg-intro-mobile.png);
  }
}
@media screen and (min-width: 1440px) {
  body{
    background-image: url(../images/bg-intro-desktop.png);
  }
}
body{
  background-color: hsl(0, 100%, 74%);
}
#root{
  width: 60%;
  margin-left: 20%;
  margin-top: 15%;
}
.App-landing-page{
  display: grid;
  grid-template-columns: 50% 50%;
}
.App-description-column{
  color: white;
  padding: 5rem 1rem;
}
.App-description-column h2{
  font-weight: 700;
  font-size: 2.5rem;
}
.App-offer-name{
  background-color: hsl(248, 32%, 49%);
  padding: 0.25rem 1rem;
  text-align: center;
  border-radius: 10px;
}
.App-offer-name #offerText{
  color: white;
}
.App-offer-name p{
  color: hsl(246, 25%, 77%);
}
.App-inputs{
  margin-top: 1rem;
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
  display: grid;
  grid-template-rows: auto;
}
.App-input{
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid hsl(248, 3%, 47%);
  border-radius: 5px;
}
.App-inputs button{
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 10px 20px;
}
.App-inputs #footerText{
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-size: 10px;
}
.App-inputs #footerText a{
  color: hsl(0, 100%, 74%);
  text-decoration: none;
}
.empty-input{
  border: 1px solid hsl(0, 100%, 74%);
}
.empty-input-msg{
  font-style: italic;
  font-size: 0.75rem;
  color: hsl(0, 100%, 74%);
  text-align: right;
}
.main-page{
  color: white;
}
#goBackBtn{
  padding: 10px 20px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: 5px;
  border: none;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
